.table-container {
    overflow-x: auto;
}

@media (max-width: 648px) {
    .table-container {
        overflow-y: hidden;
    }
}

.p-perso {
    padding: 1.5rem 1.5rem 0;
}

.paraNote {
    background-color: hsl(230deg 77.38% 75.64%);
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
    display: flex;
    text-align: justify;
    gap: 0.5rem;
}

.paraNote div:first-child {
    font-weight: 900;
    font-size: 16px;
    color: #0057ae;
}
